---
import OpenGraph from '../components/OpenGraph.astro';
import { SITE } from '../data/site';
import type { MetaOG } from '../models/meta-og';
import '../styles/style.css';

export type { Props as BaseLayoutProps };

interface Props {
  title?: string;
  description?: string;
  og?: MetaOG;
  noIndex?: boolean;
}

const { title, description, og, noIndex = false } = Astro.props;

const openGraphProps: MetaOG = {
  title: og?.title ?? title ?? SITE.name,
  description: og?.description ?? description,
  image: {
    url: `${import.meta.env.SITE}${og?.image ?? 'images/cover.jpg'}`,
    width: og?.image?.width ?? '1200',
    height: og?.image?.height ?? '630',
  },
};
---

<!DOCTYPE html>
<html lang="en" dir="ltr" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} - ${SITE.name}` : `${SITE.name}`}</title>
    <script is:inline src="/js/theme.js" type="module"></script>
    <meta name="description" content={description} />
    {noIndex && <meta name="robots" content="noindex" />}
    <OpenGraph {...openGraphProps} />
    <link rel="icon" type="image/svg+xml" href="/logo/favicon.svg" />
    <link rel="icon" sizes="any" href="/logo/favicon.ico" />
    <link rel="apple-touch-icon" href="/logo/favicon-180.png" />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="preload"
      href="/fonts/Inter-Regular-subset.woff2"
      crossorigin
      as="font"
      type="font/woff2"
    />
    <link
      rel="preload"
      href="/fonts/Inter-Bold-subset.woff2"
      crossorigin
      as="font"
      type="font/woff2"
    />
  </head>
  <body class="bg-background text-font-primary flex flex-col min-h-screen">
    <slot />
  </body>
</html>
